[flake8]
extend-select =
    # bugbear
    B
    # bugbear opinions
    B9
    # implicit str concat
    ISC
max-line-length = 120
extend-ignore = B902, B907
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    .idea,
    .vscode,
    .pytest_cache,
    .mypy_cache,
    *.md,
    *.json,
    samples,
    recipes/__cookiecutter/*,
    *.template.xml
