# hfdlobserver888 service for systemd

[Unit]
Description=A multi-headed dumphfdl receiver for Web-888 devices
Documentation=https://hfdl.observer/888
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/etc/default/hfdlobserver888
User=$USER
WorkingDirectory=$HOME/hfdlobserver888
RuntimeDirectory=hfdlobserver888
RuntimeDirectoryMode=0755
ExecStart=./hfdlobserver888.sh --headless $CONFIG_OPTIONS $LOG_OPTIONS $DEBUG_OPTIONS
Type=simple
Restart=always
RestartSec=15
StartLimitInterval=1
StartLimitBurst=100
Nice=-1

[Install]
WantedBy=default.target
